@model EPiServer.Labs.BlockEnhancements.LocalContentAnalyzerViewModel
@using EPiServer.Shell
@using EPiServer.Shell.Navigation
@using EPiServer.Shell.Navigation.Internal

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local content analyzer</title>
</head>
<body>
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="wrapper" @Html.Raw(Html.ApplyFullscreenPlatformNavigation())>
        <div id="root" data-epi-module-url="@Model.ModuleUrl" />
    </div>

    <script type="text/javascript" src="@Paths.ToClientResource("episerver-labs-block-enhancements", "ClientResources/dist/blockenhancements-labs.bundle.js")"></script>
    <link rel="stylesheet" href="@Paths.ToClientResource("episerver-labs-block-enhancements", "ClientResources/dist/blockenhancements-labs.bundle.css")" />
</body>
</html>
